<!doctype html>
<html lang="fr">
{% block head %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Titre Teammate{% endblock %}</title>
        {% block css %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="shortcut icon" href="vendor/assets/img/shortcut/logo_header.png" type="image/x-icon" />
            <link rel="stylesheet" href="vendor/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="vendor/assets/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="vendor/assets/css/iziModal.min.css">
            <link rel="stylesheet" href="vendor/assets/css/styles.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
            <link href="https://raw.githubusercontent.com/pupunzi/jquery.mb.YTPlayer/master/dist/css/jquery.mb.YTPlayer.min.css">


        {% endblock %}
    </head>
{% endblock %}
<body>
    {% block video %}
    {% endblock %}
    {% block nav %}
    <div class="header">
        <div class="header-center">
            <a href="?p=index">
            <img src="vendor/assets/img/logo/logo_header.png">
            </a>
            <h1 class="teammate"><div class="team">TEAM</div><div class="mate">MATE</div></h1>
            <div class="col-lg-3 pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div><!-- /input-group -->
            </div>
    </div>
    </div>
        <nav class="container-fluid">
            <div class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="?p=home">Home</a></li>
                        <li><a href="?p=joueurs">Joueurs</a></li>
                        <li><a href="?p=competitions">Compétitions</a></li>
                    </ul>
                    {% block user %}
                        {% if connected == true %}
                            <div class="setting">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Mon Profil
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="?p=profil">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                    Modifier mon profil
                                                </a>
                                            </li>
                                            <li><a href="vendor/assets/script_php/session_destroy.php">
                                                    <span class="glyphicon glyphicon-log-out" ></span>
                                                     Déconnexion
                                                </a>
                                            </li>
                                            {% if userRole > 0 %}
                                            <li role="separator" class="divider"></li>
                                            <li><a href="?p=dashboard">
                                                    <span class="glyphicon glyphicon-dashboard" ></span>
                                                     Dashboard</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                            {% else %}
                                <button id="modal-custom-button" class="btn btn-default login-nav pull-right" data-toggle="modal" data-target="#myModal">Login</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Connexion</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" method="post" data-toggle="validator" role="form" action="vendor/assets/script_php/login.php"
                                                      data-fv-framework="bootstrap"
                                                      data-fv-icon-valid="glyphicon glyphicon-ok"
                                                      data-fv-icon-invalid="glyphicon glyphicon-remove"
                                                      data-fv-icon-validating="glyphicon glyphicon-refresh">

                                                    <div class="form-group">
                                                        <label class="col-xs-3 control-label">Votre Email</label>
                                                        <div class="col-xs-4">
                                                            <input type="text" class="form-control" name="mail" placeholder="Votre Email" id="mail"
                                                                   data-fv-row=".col-xs-4"
                                                                   data-fv-notempty="true"
                                                                   data-fv-notempty-message="Vous devez remplir votre Email" />
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <input type="password" class="form-control" name="password" placeholder="Votre password" id="password"
                                                                   data-fv-row=".col-xs-4"
                                                                   data-fv-notempty="true"
                                                                   data-fv-notempty-message="Vous devez remplir votre password." />
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group">
                                                    <div class="col-xs-9 col-xs-offset-3">
                                                        <button type="submit" class="btn btn-primary" name="connecter" value="connecter">Connecter</button>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    {% endblock %}
                </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
    {% block carousel %}
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="vendor/assets/img/slider/slider_01.jpg" alt="slider_01">
                </div>
                <div class="item">
                    <img src="vendor/assets/img/slider/slider_02.jpg" alt="slider_02">
                </div>
                <div class="item">
                    <img src="vendor/assets/img/slider/slider_03.jpg" alt="slider_03">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="title-carousel">
                <div class="title-carousel-top">
                    <h1 class="title-carousel-top-upper">team<div class="title-carousel-top-low"> mate</div></h1>
                    <h2 class="title-carousel-top-low-signature">Le réseaux social des gamers</h2>
                </div>
                <div class="title-carousel-bottom">
                    <h3>the place to be...</h3>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block steps %}
        <div class="steps">
            <div class="etape-center">
                <div class="bar">
                    <div class="etape-center col-md-3"></div>
                </div>
                <div class="etape col-md-3">
                    <img src="vendor/assets/img/items/item_1.png" class="img_etape">
                    <p>Choisis ton jeu</p>
                </div>
                <div class="etape col-md-3">
                    <img src="vendor/assets/img/items/item_2.png" class="img_etape">
                    <p>Crée ton profil</p>
                </div>
                <div class="etape col-md-3">
                    <img src="vendor/assets/img/items/item_3.png" class="img_etape">
                    <p>Rencontre la communauté</p>
                </div>
                <div class="etape col-md-3">
                    <img src="vendor/assets/img/items/item_4.png" class="img_etape">
                    <p>Joue avec tes coéquipiers</p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block choix %}
        <div class="choix">
            <div class="choix-center">
                <div class="joueurs col-md-4 col-md-offset-1">
                    <img src="vendor/assets/img/choix/joueurs.jpg">
                        <div class="title-choix-top">
                            <p>joueurs</p>
                        </div>
                        <div class="title-choix-bottom">
                            <p><strong>{{ countJoueur }}</strong> Joueurs disponibles</p>
                        </div>
                </div>
                <div class="joueurs col-md-4 col-md-offset-1">
                    <img src="vendor/assets/img/choix/competition.jpg">
                    <div class="title-choix-top">
                        <p>compétitions</p>
                    </div>
                    <div class="title-choix-bottom">
                        <p><strong>{{ countCompetition }}</strong> Compétitions disponibles</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        <div class="footer">
            <div class="footer-center">
                <div class="description-footer col-md-4">
                    <div class="title_footer">
                        <h3>team<div class="title_footer-low">mate</div></h3>
                    </div>
                    <p>
                        Ce site a pour but de mettre en relation les joueurs de jeux vidéo entre eux. Il vous suffit juste de vous inscrire et de remplir
                        votre fiche.Ul suffit juste ensuite de venir consulter une fiche de joueurs sélectionné avec des critéres pertinents et rentrer en
                        contact avec le joueur.
                    </p>
                </div>
                <div class="twitter col-md-4">
                    <div class="title_footer_twitter">
                        <h3>Twitter</h3>
                    </div>
                    <a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#2B7BB9" href="https://twitter.com/Teammateestei">Tweets by Teammateestei</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="newsletter col-md-4">
                    <div class="title_footer_newsletter">
                        <h3>Newsletter</h3>
                    </div>
                    <input placeholder="Newsletters" class="input-newsletters">
                    <img src="vendor/assets/img/newsletters/right-chevron.png" class="arrow-newsletters">
                    <div class="social">
                        <img src="vendor/assets/img/social/facebook.png">
                        <img src="vendor/assets/img/social/google-plus.png">
                        <img src="vendor/assets/img/social/sharethis.png">
                        <img src="vendor/assets/img/social/twitter.png">
                        <img src="vendor/assets/img/social/youtube.png">
                    </div>    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-center">
                <div class="col-md-4">
                    <p class="copyright-text">Copyright © TEAMMATE 2017</br>
                    Designed by Poisblaud François</p>
                </div>
                <div class="map">
                    <p><a href="?p=home"> Home</a> - <a href="?p=joueurs">Joueurs</a> - <a href="?p=competitions">Compétitions</a> - <a href="#">Mentions légales</a> - <a href="#">Sign in</a></p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block script_bootstrap %}
        <script src="vendor/assets/js/jquery-3.1.1.min.js"></script>
        <script src="vendor/assets/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block scriptswitch %}
    {% endblock %}

    {% block scriptlogin %}
    {% endblock %}
</body>
</html>