{% block search %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go</button>
          </span>
            </div>
        </div>
    </div>
    <div class="row col-md-10 col-md-offset-1">
        <div class="col-lg-3 col-md-3">
            <select class="form-control">
                <option value="" disabled selected style="display: none;">Choisir un Jeu</option>
                <option value="value1">Counter strike</option>
                <option value="value2">Rocket league</option>
                <option value="value3">League of legend</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3">
            <select class="form-control">
                <option value="" disabled selected style="display: none;">Choisir un Rank</option>
                <option value="value1">noob</option>
                <option value="value2">noob1</option>
                <option value="value3">nooob3</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3">
            <select class="form-control">
                <option value="" disabled selected style="display: none;">Type de joueur</option>
                <option value="value1">noob</option>
                <option value="value2">noob1</option>
                <option value="value3">nooob3</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3">
            <select class="form-control">
                <option value="" disabled selected style="display: none;">Nombre d'heure</option>
                <option value="value1">noob</option>
                <option value="value2">noob1</option>
                <option value="value3">nooob3</option>
            </select>
        </div>
    </div>
{% endblock %}
            {% block cards %}
                <div class="card hovercard col-xs-12 col-sm-3">
                    <img src="http://placehold.it/300x200/000000/&text=Header" alt=""/>
                    <div class="avatar">
                        <img src="http://placehold.it/80X80/333333/&text=Head" alt="" />
                    </div>
                    <div class="info">
                        <div class="title">
                            No SignStar
                        </div>
                        <div class="desc">Lorem ipsum</div>
                        <div class="desc">Lorem ipsum</div>
                        <div class="desc">Lorem ipsum</div>
                    </div>
                    <div class="bottom">
                        <button class="btn btn-default">Button</button>
                    </div>
                </div>
            {% endblock %}